body {
    background-color: #fcfcfc;
}
.welcome-card > .mdl-card__title {
  height: 176px;
  background: url('../../nice.png') center / cover;
}
.welcome-card__greeting {
    margin: 0;
}

.current-mood-card.mdl-card {
    min-height: 150px;
    width: 100%;
}
.current-mood-card__mood {
    margin: 0;
}
.current-mood-card__mood i {
    font-size: 56px;
    vertical-align: middle;
}
.light-card.mdl-card {
    min-height: 130px;
    width: 100%;
}
.light-card .mdl-card__supporting-text i {
    vertical-align: middle;
}
.mood-card.mdl-card {
    width: 100%;
}
.section--center {
    max-width: 860px;
}
